---
import { getWeather } from "@api/getWeather";
import Layout from "../../layouts/Layout.astro";

const result = await getWeather();
const theme = result?.theme;
---

<Layout title="about | 株式会社loadoff" theme={theme}>
  <!-- <h1>about</h1> -->
  <!-- sidebar -->
  <main>
    <section class="prepare">
      <h1>coming soon ...</h1>
    </section>
    <!-- <section id="corporate-philosophy">
      <div>
        <h2 id="core-value">core value</h2>
        <div>
          <h3>take a loadoff</h3>
          <p>[負担を軽くする]</p>
          <p>我々は常に誰かのためにある</p>
          <p>
            人や自然、社会の負担を軽くする。
            そのために役立てることを存在意義として、
            生活や社会にやさしく人々が笑顔になれることを
            株式会社loadoffは使命としています。
          </p>
        </div>
      </div>
      <div>
        <h2>purpose</h2>
        <div>
          <p>我々は顧客にとってなくてはならない存在になる</p>
          <p>人の価値を高め　顧客を成功に導き　社会を発展させる</p>
        </div>
      </div>
      <div>
        <h2>mission</h2>
        <ul>
          <li>敬意</li>
          <li>試行</li>
          <li>柔軟</li>
          <li>責務</li>
          <li>透明</li>
        </ul>
      </div>
    </section>
    <section id="from-our-president">
      <div>
        <p>loadoffは2016年に創業しました。

          私たちの社名「loadoff」には、「人の重荷を取り除く」という意味が込められています。
          私たちは、IT技術を駆使して現実世界の問題を解決し、人々の生活をより豊かにすることを目指しています。
          
          創業以来、私たちは数々の挑戦に真摯に取り組んできました。
          
          
          その一環として、2023年には新製品「supotta」をリリースし、ITと現実世界を結びつける新たな一歩を踏み出しました。
          
          この新製品は、私たちのビジョンを具現化したものです。
          困難な課題にも果敢に挑戦し続けること。それがloadoffの精神です。
          
          
          
          私たちは、未知の領域にも恐れず挑戦し、常に成長し続ける企業でありたいと考えています。
          
          今後とも、loadoffをよろしくお願いいたします。</p>
      </div>
    </section>
    <section id="company-history">
      <h2>company history</h2>
      <div>
        <div>
          <p>2016.9</p>
          <p>会社設立</p>
          <p></p>
        </div>
        <div>
          <p>2020.10</p>
          <p>水耕栽培を試験的に開始</p>
          <p></p>
        </div>
        <div>
          <p>2023.03</p>
          <p>事業拡大に伴いオフィス改装</p>
          <p></p>
        </div>
        <div>
          <p>2023.10</p>
          <p>水耕栽培管理機器／アプリsupotta（サポッタ）発表
            農業WEEK出展</p>
          <p></p>
        </div>
        <div>
          <p>2024.04</p>
          <p>supotta導入開始</p>
          <p></p>
        </div>
      </div>
    </section>
    <section id="company-profile">
      <h2>company profile</h2>
      <div>
        <div>
          <p>社名</p>
          <p>株式会社 loadoff</p>
        </div>
        <div>
          <p>設立</p>
          <p>2016年9月9日</p>
        </div>
        <div>
          <p>本社</p>
          <p>東京都世田谷区祖師谷1-19-3</p>
        </div>
        <div>
          <p>資本金</p>
          <p>1,500,000円</p>
        </div>
        <div>
          <p>代表</p>
          <p>岩崎 佑</p>
        </div>
        <div>
          <p>主要取引先</p>
          <p>株式会社システムコンサルタント
            株式会社トライビート
            株式会社ラキール
            株式会社モーションピクチャー
            株式会社アドバンスト・テック
            みずほ銀行
            城南信用金庫</p>
        </div>
      </div>
    </section> -->
  </main>
</Layout>

<style>
  main {
    margin-top: 193px;
  }
  .prepare {
    height: calc(100vh - 193px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 4rem;
  }
  #core-value {
    opacity: 0;
  }
</style>
