---
import { getWeather } from "@api/getWeather";
import Layout from "../../layouts/Layout.astro";

const result = await getWeather();
const theme = result?.theme;
---

<Layout title="Service | 株式会社loadoff" theme={theme}>
  <main>
    <section class="prepare">
      <h1>coming soon ...</h1>
    </section>
  </main>
</Layout>

<style>
  main {
    margin-top: 193px;
  }
  .prepare {
    height: calc(100vh - 193px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 4rem;
  }
</style>