---
export const prerender = false;

import Layout from "../layouts/Layout.astro";
import Sunny04Component from "../components/Sunny04";
import WeatherWrapper from "../components/WeatherWrapper.astro";
import { getWeather } from "@api/getWeather";

const weatherInfo = await getWeather();
console.log(weatherInfo);
---

<Layout title="株式会社loadoff">
  <main>
    <Sunny04Component client:only="react"/>
    <WeatherWrapper weatherInfo={weatherInfo}/>
  </main>
</Layout>
