---
export const prerender = false;

import Layout from "../layouts/Layout.astro";
import FallingBoxes from "../components/FallingBoxes";
import WeatherWrapper from "../components/WeatherWrapper.astro";
import { getWeather } from "@api/getWeather";
import { WMO_WEATHER_CODES } from "@constants/wmo-weather-codes";

const result = await getWeather();
const weatherInfo = result?.data;
const theme = result?.theme;
const weatherDescription = WMO_WEATHER_CODES.find(
  (item) => item.code === weatherInfo?.current_weather.weathercode,
)?.description;
---

<Layout title="株式会社loadoff" theme={theme}>
  <main class="main">
    <FallingBoxes client:only="react" theme={theme} weatherDescription={weatherDescription}/>
    <div class="weather-wrapper">
      <WeatherWrapper weatherInfo={weatherInfo} />
    </div>
  </main>
</Layout>


<style>
  .main {
    position: relative;
  }
  .weather-wrapper {
    position: absolute;
    z-index: 20;
    top: 0;
    top: 193px;
    left: 0;
    height: calc(100% - 193px);
    width: 100%;
  }

  @media (max-width: 1100px) {
    .weather-wrapper {
      height: calc(100% - 90px);
      top: 90px;
    }
  }
</style>