<div class="box-title">
  <p class="title">Falling boxes</p>
  <p>Three.js</p>
</div>

<style>
  .box-title {
    background-color: #FFF;
    padding: 3rem 3.375rem;
    /* margin-right: 3.625rem; */
  }
  .title {
    font-size: 1.25rem;
  }
</style>