<footer>
  <div>
    take a loadoff
  </div>
  <div>
    <p>1-19-3, Soshigaya, Setagaya-ku, Tokyo</p>
    <ul>
      <li>x</li>
      <li>instagram</li>
    </ul>
  </div>
  <div>
    <ul>
      <li>about</li>
      <li>service</li>
      <li>contact</li>
      <li>recruit</li>
    </ul>
  </div>
  <div>
    <p>privacy policy</p>
    <p>copyright</p>
  </div>
</footer>