---
import FullCurrentTime from "@components/FullCurrentTime";
const currentPath = Astro.url.pathname;
---

<header>
  <nav>
    <a href="/">
      <svg xmlns="http://www.w3.org/2000/svg" width="171" height="45" viewBox="0 0 171 45" fill="none">
        <g clip-path="url(#clip0_1_16)">
          <path d="M27.4716 17.0698C23.7057 17.0698 20.4842 18.3984 17.8095 21.0557C15.1324 23.7129 13.7951 26.8561 13.7951 30.4878C13.7951 34.1194 15.115 37.3011 17.7524 40.0342C20.3897 42.7673 23.5441 44.1332 27.213 44.1332H27.7301C31.4363 44.1332 34.5907 42.7772 37.1907 40.0628C39.7883 37.3496 41.0884 34.1666 41.0884 30.5164C41.0884 26.8661 39.761 23.7129 37.1037 21.0557C34.4465 18.3985 31.2349 17.0698 27.4716 17.0698ZM35.8137 39.0014C33.5193 41.3529 30.7577 42.5286 27.5287 42.5286C24.2973 42.5286 21.5083 41.3529 19.1568 39.0014C16.8053 36.6511 15.6295 33.8696 15.6295 30.6593C15.6295 27.4477 16.8053 24.6488 19.1568 22.2588C21.5083 19.8713 24.2898 18.6756 27.4989 18.6756C30.7105 18.6756 33.4721 19.8613 35.7863 22.2302C38.098 24.6016 39.2539 27.4005 39.2539 30.6307C39.2539 33.8609 38.108 36.6511 35.8137 39.0014Z" fill="var(--svg-color)" stroke="var(--svg-color)" stroke-miterlimit="10"/>
          <path d="M125.847 17.0698C122.081 17.0698 118.86 18.3984 116.185 21.0557C113.508 23.7129 112.17 26.8561 112.17 30.4878C112.17 34.1194 113.49 37.3011 116.128 40.0342C118.765 42.7673 121.919 44.1332 125.588 44.1332H126.105C129.812 44.1332 132.966 42.7772 135.566 40.0628C138.164 37.3496 139.464 34.1666 139.464 30.5164C139.464 26.8661 138.136 23.7129 135.479 21.0557C132.822 18.3985 129.61 17.0698 125.847 17.0698ZM134.189 39.0014C131.895 41.3529 129.133 42.5286 125.904 42.5286C122.673 42.5286 119.884 41.3529 117.532 39.0014C115.181 36.6511 114.005 33.8696 114.005 30.6593C114.005 27.4477 115.181 24.6488 117.532 22.2588C119.884 19.8713 122.665 18.6756 125.874 18.6756C129.086 18.6756 131.847 19.8613 134.162 22.2302C136.473 24.6016 137.629 27.4005 137.629 30.6307C137.629 33.8609 136.483 36.6511 134.189 39.0014Z" fill="var(--svg-color)" stroke="var(--svg-color)" stroke-miterlimit="10"/>
          <path d="M69.0289 21.0557C66.3716 18.3984 63.1601 17.0698 59.3967 17.0698C55.6308 17.0698 52.4094 18.3984 49.7347 21.0557C47.0576 23.7129 45.7202 26.8561 45.7202 30.4878C45.7202 34.1194 47.0402 37.3011 49.6775 40.0342C52.3149 42.7673 55.4692 44.1332 59.1382 44.1332H59.6552C63.3614 44.1332 66.5158 42.7772 69.1159 40.0628C69.8835 39.261 70.5237 38.4131 71.0647 37.5293V43.5031H72.8992V32.2441C72.967 31.6789 73.0135 31.106 73.0135 30.5164C73.0135 26.8661 71.6862 23.7129 69.0289 21.0557ZM67.7388 39.0014C65.4445 41.3529 62.6828 42.5286 59.4539 42.5286C56.2224 42.5286 53.4334 41.3529 51.0819 39.0014C48.7304 36.6511 47.5547 33.8696 47.5547 30.6593C47.5547 27.4477 48.7304 24.6488 51.0819 22.2588C53.4334 19.8713 56.215 18.6756 59.424 18.6756C62.6356 18.6756 65.3972 19.8613 67.7114 22.2302C70.0231 24.6016 71.179 27.4005 71.179 30.6307C71.179 33.8609 70.0331 36.6511 67.7388 39.0014Z" fill="var(--svg-color)" stroke="var(--svg-color)" stroke-miterlimit="10"/>
          <path d="M106.211 0.5H104.376V23.7092C103.804 22.7778 103.117 21.8894 102.283 21.0557C99.6262 18.3984 96.4146 17.0698 92.6513 17.0698C88.8854 17.0698 85.6638 18.3984 82.9892 21.0557C80.3121 23.7129 78.9748 26.8561 78.9748 30.4878C78.9748 34.1194 80.2947 37.3011 82.9321 40.0342C85.5694 42.7673 88.7238 44.1332 92.3927 44.1332H92.9098C96.616 44.1332 99.7703 42.7772 102.37 40.0628C104.968 37.3496 106.268 34.1666 106.268 30.5164C106.268 30.0972 106.246 29.6863 106.211 29.2803L106.211 0.5ZM100.993 39.0014C98.699 41.3529 95.9374 42.5286 92.7084 42.5286C89.477 42.5286 86.688 41.3529 84.3365 39.0014C81.985 36.6511 80.8092 33.8696 80.8092 30.6593C80.8092 27.4477 81.985 24.6488 84.3365 22.2588C86.688 19.8713 89.4695 18.6756 92.6786 18.6756C95.8902 18.6756 98.6518 19.8613 100.966 22.2302C103.278 24.6016 104.434 27.4005 104.434 30.6307C104.434 33.8609 103.288 36.6511 100.993 39.0014Z" fill="var(--svg-color)" stroke="var(--svg-color)" stroke-miterlimit="10"/>
          <path d="M2.32341 34.7334V0.5H0.5V34.7334C0.5 39.8553 4.66692 44.0218 9.78834 44.0218H10.3016V42.3696H9.78834C5.67201 42.3696 2.32341 38.8493 2.32341 34.7334Z" fill="var(--svg-color)" stroke="var(--svg-color)" stroke-miterlimit="10"/>
          <path d="M147.334 16.5533C147.334 12.4374 150.683 8.87669 154.799 8.87669H155.312V7.26488H154.799C149.677 7.26488 145.511 11.4313 145.511 16.5533V43.5031H147.334V35.1408H155.343V33.535H147.334V16.5533Z" fill="var(--svg-color)" stroke="var(--svg-color)" stroke-miterlimit="10"/>
          <path d="M170.351 33.535H162.342V16.5533C162.342 12.4374 165.691 8.87669 169.807 8.87669H170.32V7.26488H169.807C164.686 7.26488 160.519 11.4313 160.519 16.5533V43.5031H162.342V35.1408H170.351L170.351 33.535Z" fill="var(--svg-color)" stroke="var(--svg-color)" stroke-miterlimit="10"/>
        </g>
        <defs>
          <clipPath id="clip0_1_16">
            <rect width="170.851" height="44.6332" fill="white"/>
          </clipPath>
        </defs>
      </svg>
    </a>
    <div class="menu">
      <ul class="ul-start">
        <li>
          <a href="/about" class={currentPath === '/about' ? 'active' : ''}>about</a>
        </li>
        <li>
          <a href="/service" class={currentPath === '/service' ? 'active' : ''}>service</a>
        </li>
        <li>
          <a href="/contact" class={currentPath === '/contact' ? 'active' : ''}>contact</a>
        </li>
      </ul>
      <ul class="ul-end">
        <li>
          <a href="https://x.com/LoadoffI" target="_blank" rel="noopener noreferrer">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
              <g clip-path="url(#clip0_1_6)">
                <path opacity="0.9" d="M9.95997 9.52017C11.5683 9.52017 13.0537 9.50248 14.5379 9.54271C14.7197 9.54785 14.9289 9.84178 15.0653 10.0415C16.3266 11.8942 17.5765 13.7556 18.8847 15.6999C20.1495 14.2048 21.3594 12.7745 22.5694 11.3437C22.8915 11.0086 23.1885 10.6503 23.458 10.2715C23.9069 9.54728 24.5162 9.35665 25.4211 9.60064C25.2182 9.86118 25.0476 10.0955 24.8618 10.3175C23.2189 12.2777 21.5869 14.2482 19.9163 16.1844C19.569 16.5874 19.6181 16.8408 19.8898 17.2403C21.7792 20.015 23.6447 22.8051 25.5164 25.5929C25.6591 25.8038 25.7912 26.0209 26.0401 26.4096C25.2088 26.4096 24.4948 26.316 23.8142 26.4279C21.9242 26.7366 20.7036 26.0569 19.8059 24.3349C19.0017 22.7925 17.887 21.4113 16.85 19.8706C16.4844 20.2986 16.1711 20.6605 15.8623 21.0266C14.5627 22.5676 13.2295 24.0801 11.9813 25.6622C11.4599 26.3223 10.9051 26.5594 10.0068 26.3157C10.4811 25.735 10.92 25.1845 11.3731 24.6457C12.8345 22.9032 14.2853 21.1525 15.7741 19.4342C16.1277 19.0262 16.1451 18.7576 15.8375 18.3099C14.0122 15.6479 12.2232 12.9617 10.424 10.2818C10.2853 10.0755 10.1646 9.85748 9.95997 9.52017ZM23.9897 25.3737C23.9768 25.2799 23.9541 25.1878 23.9218 25.0989C20.7073 20.3929 17.4892 15.6894 14.2674 10.9884C14.1592 10.8224 13.9904 10.7052 13.7971 10.6619C13.1978 10.6228 12.5968 10.6465 11.9656 10.6465C11.9828 10.7353 12.0084 10.8222 12.042 10.9062C15.2572 15.6126 18.4754 20.316 21.6965 25.0164C21.8258 25.1978 22.0215 25.3208 22.2409 25.3589C22.798 25.4042 23.3613 25.3748 23.9897 25.3748" fill="var(--svg-color)"/>
                <path opacity="0.9" d="M18 35.5C27.665 35.5 35.5 27.665 35.5 18C35.5 8.33502 27.665 0.5 18 0.5C8.33502 0.5 0.5 8.33502 0.5 18C0.5 27.665 8.33502 35.5 18 35.5Z" stroke="var(--svg-color)" stroke-miterlimit="10"/>
              </g>
              <defs>
                <clipPath id="clip0_1_6">
                  <rect width="36" height="36" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/loadoffinc?igsh=MXVpeGpoZ2tuNjhrNA==" target="_blank" rel="noopener noreferrer">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
              <g clip-path="url(#clip0_1_9)">
                <g opacity="0.9">
                  <path d="M9.66557 13.4172C9.95176 11.325 11.3902 9.82883 13.4972 9.68739C16.3137 9.48291 19.1404 9.45783 21.9601 9.61231C24.6929 9.77928 26.1377 11.2183 26.347 13.9691C26.548 16.6522 26.551 19.3464 26.356 22.03C26.1629 24.7171 24.7154 26.1484 22.0145 26.3412C19.3315 26.5339 16.6382 26.5361 13.9548 26.3478C11.1127 26.1463 9.69561 24.4757 9.53344 21.5585C9.46557 20.339 9.52203 19.1128 9.52203 17.8896M24.8442 18.2428C24.8442 16.8314 24.9181 15.4154 24.825 14.0085C24.7124 12.3 23.7163 11.2069 22.055 11.1442C19.3456 11.0415 16.6264 11.0415 13.9167 11.1442C12.2506 11.2069 11.195 12.3208 11.1425 13.9971C11.0596 16.627 11.0586 19.2588 11.1395 21.8927C11.1896 23.5537 12.0972 24.6664 13.7098 24.7522C16.5524 24.9037 19.401 24.9037 22.2436 24.7522C23.8652 24.6651 24.7148 23.5489 24.8442 21.9053" fill="var(--svg-color)"/>
                  <path d="M23.5337 13.3568C23.5561 13.9258 23.113 14.4051 22.5441 14.4275C22.5122 14.4287 22.4803 14.4285 22.4484 14.4268C21.9421 14.4246 21.5334 14.0123 21.5357 13.5059C21.5358 13.4655 21.5387 13.4251 21.5442 13.385C21.5301 12.885 21.9241 12.4683 22.4241 12.4542C22.4713 12.4529 22.5185 12.4553 22.5652 12.4613C23.0743 12.4359 23.5075 12.8279 23.5329 13.337C23.5333 13.3436 23.5335 13.3502 23.5337 13.3568Z" fill="var(--svg-color)"/>
                  <path d="M13.601 17.9575C13.6169 15.5427 15.5873 13.5979 18.0022 13.6137C20.417 13.6296 22.3618 15.6 22.346 18.0149C22.3301 20.4297 20.3597 22.3745 17.9448 22.3587C15.53 22.3428 13.5852 20.3724 13.601 17.9575ZM20.7865 17.9909C20.778 16.4375 19.5118 15.1851 17.9584 15.1937C16.4498 15.2019 15.2163 16.399 15.1629 17.9068C15.108 19.4592 16.3219 20.7622 17.8744 20.8172C19.4268 20.8721 20.7298 19.6582 20.7848 18.1058C20.7861 18.0675 20.7867 18.0292 20.7865 17.9909Z" fill="var(--svg-color)"/>
                </g>
                <g opacity="0.9">
                  <path d="M18 35.5C27.665 35.5 35.5 27.665 35.5 18C35.5 8.33502 27.665 0.5 18 0.5C8.33502 0.5 0.5 8.33502 0.5 18C0.5 27.665 8.33502 35.5 18 35.5Z" stroke="var(--svg-color)" stroke-miterlimit="10"/>
                </g>
              </g>
              <defs>
                <clipPath id="clip0_1_9">
                  <rect width="36" height="36" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          </a>
        </li>
        <li class="recruit">
          <a href="/recruit">recruit</a>
        </li>
      </ul>
    </div>
    <div class="menu-icon" id="menuToggle">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="15" viewBox="0 0 25 15" fill="none">
        <line y1="0.5" x2="25" y2="0.5" stroke="var(--svg-color)"/>
        <line y1="7.5" x2="25" y2="7.5" stroke="var(--svg-color)"/>
        <line y1="14.5" x2="25" y2="14.5" stroke="var(--svg-color)"/>
      </svg>
    </div>
  </nav>
  <div class="sp-menu" id="spMenu">
    <div class="sp-menu-header">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="27" viewBox="0 0 100 27" fill="none">
          <g clip-path="url(#clip0_117_292)">
            <path d="M16.0794 9.99121C13.8752 9.99121 11.9896 10.7689 10.4241 12.3241C8.8572 13.8794 8.07446 15.7192 8.07446 17.8448C8.07446 19.9704 8.847 21.8327 10.3907 23.4324C11.9343 25.032 13.7806 25.8315 15.928 25.8315H16.2307C18.3999 25.8315 20.2462 25.0379 21.768 23.4491C23.2884 21.8611 24.0493 19.9981 24.0493 17.8615C24.0493 15.725 23.2724 13.8794 21.7171 12.3242C20.1618 10.7689 18.2821 9.99121 16.0794 9.99121ZM20.962 22.8279C19.6191 24.2042 18.0028 24.8924 16.1128 24.8924C14.2214 24.8924 12.589 24.2042 11.2127 22.8279C9.83635 21.4522 9.14816 19.8242 9.14816 17.9452C9.14816 16.0654 9.83635 14.4272 11.2127 13.0283C12.589 11.6309 14.2171 10.9311 16.0953 10.9311C17.9751 10.9311 19.5915 11.6251 20.946 13.0116C22.2991 14.3996 22.9756 16.0378 22.9756 17.9285C22.9756 19.8191 22.3049 21.4522 20.962 22.8279Z" fill="var(--svg-color)" stroke="var(--svg-color)" stroke-miterlimit="10"/>
            <path d="M73.6587 9.99121C71.4545 9.99121 69.569 10.7689 68.0035 12.3241C66.4365 13.8794 65.6538 15.7192 65.6538 17.8448C65.6538 19.9704 66.4264 21.8327 67.97 23.4324C69.5137 25.032 71.3599 25.8315 73.5074 25.8315H73.81C75.9793 25.8315 77.8256 25.0379 79.3474 23.4491C80.8678 21.8611 81.6287 19.9981 81.6287 17.8615C81.6287 15.725 80.8518 13.8794 79.2964 12.3242C77.7412 10.7689 75.8614 9.99121 73.6587 9.99121ZM78.5414 22.8279C77.1985 24.2042 75.5821 24.8924 73.6922 24.8924C71.8008 24.8924 70.1684 24.2042 68.792 22.8279C67.4157 21.4522 66.7275 19.8242 66.7275 17.9452C66.7275 16.0654 67.4157 14.4272 68.792 13.0283C70.1684 11.6309 71.7964 10.9311 73.6747 10.9311C75.5544 10.9311 77.1708 11.6251 78.5254 13.0116C79.8784 14.3996 80.5549 16.0378 80.5549 17.9285C80.5549 19.8191 79.8842 21.4522 78.5414 22.8279Z" fill="var(--svg-color)" stroke="var(--svg-color)" stroke-miterlimit="10"/>
            <path d="M40.4029 12.3241C38.8476 10.7689 36.9679 9.99121 34.7652 9.99121C32.561 9.99121 30.6754 10.7689 29.1099 12.3241C27.543 13.8794 26.7603 15.7192 26.7603 17.8448C26.7603 19.9704 27.5328 21.8327 29.0765 23.4324C30.6201 25.032 32.4664 25.8315 34.6138 25.8315H34.9165C37.0857 25.8315 38.932 25.0379 40.4538 23.4491C40.9031 22.9798 41.2778 22.4835 41.5945 21.9662V25.4627H42.6682V18.8728C42.7079 18.542 42.7351 18.2066 42.7351 17.8615C42.7351 15.725 41.9582 13.8794 40.4029 12.3241ZM39.6478 22.8279C38.3049 24.2042 36.6885 24.8924 34.7986 24.8924C32.9072 24.8924 31.2748 24.2042 29.8985 22.8279C28.5221 21.4522 27.834 19.8242 27.834 17.9452C27.834 16.0654 28.5221 14.4272 29.8985 13.0283C31.2748 11.6309 32.9029 10.9311 34.7811 10.9311C36.6609 10.9311 38.2773 11.6251 39.6318 13.0116C40.9849 14.3996 41.6614 16.0378 41.6614 17.9285C41.6614 19.8191 40.9907 21.4522 39.6478 22.8279Z" fill="var(--svg-color)" stroke="var(--svg-color)" stroke-miterlimit="10"/>
            <path d="M62.1658 0.29248H61.092V13.877C60.7573 13.3318 60.355 12.8118 59.867 12.3238C58.3117 10.7685 56.432 9.99087 54.2293 9.99087C52.0251 9.99087 50.1395 10.7685 48.574 12.3238C47.0071 13.8791 46.2244 15.7189 46.2244 17.8445C46.2244 19.9701 46.9969 21.8324 48.5406 23.432C50.0842 25.0317 51.9305 25.8312 54.0779 25.8312H54.3806C56.5498 25.8312 58.3961 25.0375 59.9179 23.4488C61.4383 21.8607 62.1992 19.9977 62.1992 17.8612C62.1992 17.6159 62.1863 17.3754 62.1658 17.1377L62.1658 0.29248ZM59.1119 22.8275C57.7691 24.2039 56.1527 24.892 54.2627 24.892C52.3713 24.892 50.7389 24.2039 49.3626 22.8275C47.9863 21.4519 47.2981 19.8239 47.2981 17.9449C47.2981 16.0651 47.9863 14.4269 49.3626 13.028C50.7389 11.6306 52.367 10.9307 54.2453 10.9307C56.125 10.9307 57.7414 11.6248 59.0959 13.0113C60.449 14.3993 61.1255 16.0375 61.1255 17.9281C61.1255 19.8188 60.4548 21.4519 59.1119 22.8275Z" fill="var(--svg-color)" stroke="var(--svg-color)" stroke-miterlimit="10"/>
            <path d="M1.35997 20.3295V0.29248H0.292725V20.3295C0.292725 23.3273 2.73164 25.766 5.72923 25.766H6.02964V24.7989H5.72923C3.31993 24.7989 1.35997 22.7385 1.35997 20.3295Z" fill="var(--svg-color)" stroke="var(--svg-color)" stroke-miterlimit="10"/>
            <path d="M86.2352 9.68849C86.2352 7.27947 88.1952 5.19535 90.6045 5.19535H90.9049V4.25195H90.6045C87.6069 4.25195 85.168 6.69058 85.168 9.68849V25.4623H86.2352V20.5678H90.923V19.628H86.2352V9.68849Z" fill="var(--svg-color)" stroke="var(--svg-color)" stroke-miterlimit="10"/>
            <path d="M99.7074 19.628H95.0196V9.68849C95.0196 7.27947 96.9796 5.19535 99.3889 5.19535H99.6893V4.25195H99.3889C96.3913 4.25195 93.9524 6.69058 93.9524 9.68849V25.4623H95.0196V20.5678H99.7074L99.7074 19.628Z" fill="var(--svg-color)" stroke="var(--svg-color)" stroke-miterlimit="10"/>
          </g>
          <defs>
            <clipPath id="clip0_117_292">
              <rect width="100" height="26.124" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      </a>
      <div class="close-icon" id="closeMenu">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="var(--svg-color)" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
      </div>
    </div>
    <ul class="sp-menu-items">
      <li><a href="/about">about</a></li>
      <li><a href="/service">service</a></li>
      <li><a href="/contact">contact</a></li>
    </ul>
    <div class="sp-menu-footer">
      <div class="location">Soshigaya-okura, Tokyo, JPN <FullCurrentTime client:only="react"/></div>
      <div class="sp-menu-end">
        <div class="social-icons">
          <a href="https://x.com/LoadoffI" target="_blank" rel="noopener noreferrer">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
              <g clip-path="url(#clip0_1_6)">
                <path opacity="0.9" d="M9.95997 9.52017C11.5683 9.52017 13.0537 9.50248 14.5379 9.54271C14.7197 9.54785 14.9289 9.84178 15.0653 10.0415C16.3266 11.8942 17.5765 13.7556 18.8847 15.6999C20.1495 14.2048 21.3594 12.7745 22.5694 11.3437C22.8915 11.0086 23.1885 10.6503 23.458 10.2715C23.9069 9.54728 24.5162 9.35665 25.4211 9.60064C25.2182 9.86118 25.0476 10.0955 24.8618 10.3175C23.2189 12.2777 21.5869 14.2482 19.9163 16.1844C19.569 16.5874 19.6181 16.8408 19.8898 17.2403C21.7792 20.015 23.6447 22.8051 25.5164 25.5929C25.6591 25.8038 25.7912 26.0209 26.0401 26.4096C25.2088 26.4096 24.4948 26.316 23.8142 26.4279C21.9242 26.7366 20.7036 26.0569 19.8059 24.3349C19.0017 22.7925 17.887 21.4113 16.85 19.8706C16.4844 20.2986 16.1711 20.6605 15.8623 21.0266C14.5627 22.5676 13.2295 24.0801 11.9813 25.6622C11.4599 26.3223 10.9051 26.5594 10.0068 26.3157C10.4811 25.735 10.92 25.1845 11.3731 24.6457C12.8345 22.9032 14.2853 21.1525 15.7741 19.4342C16.1277 19.0262 16.1451 18.7576 15.8375 18.3099C14.0122 15.6479 12.2232 12.9617 10.424 10.2818C10.2853 10.0755 10.1646 9.85748 9.95997 9.52017ZM23.9897 25.3737C23.9768 25.2799 23.9541 25.1878 23.9218 25.0989C20.7073 20.3929 17.4892 15.6894 14.2674 10.9884C14.1592 10.8224 13.9904 10.7052 13.7971 10.6619C13.1978 10.6228 12.5968 10.6465 11.9656 10.6465C11.9828 10.7353 12.0084 10.8222 12.042 10.9062C15.2572 15.6126 18.4754 20.316 21.6965 25.0164C21.8258 25.1978 22.0215 25.3208 22.2409 25.3589C22.798 25.4042 23.3613 25.3748 23.9897 25.3748" fill="var(--svg-color)"/>
                <path opacity="0.9" d="M18 35.5C27.665 35.5 35.5 27.665 35.5 18C35.5 8.33502 27.665 0.5 18 0.5C8.33502 0.5 0.5 8.33502 0.5 18C0.5 27.665 8.33502 35.5 18 35.5Z" stroke="var(--svg-color)" stroke-miterlimit="10"/>
              </g>
              <defs>
                <clipPath id="clip0_1_6">
                  <rect width="36" height="36" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          </a>
          <a href="https://www.instagram.com/loadoffinc" target="_blank" rel="noopener noreferrer">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
              <g clip-path="url(#clip0_1_9)">
                <g opacity="0.9">
                  <path d="M9.66557 13.4172C9.95176 11.325 11.3902 9.82883 13.4972 9.68739C16.3137 9.48291 19.1404 9.45783 21.9601 9.61231C24.6929 9.77928 26.1377 11.2183 26.347 13.9691C26.548 16.6522 26.551 19.3464 26.356 22.03C26.1629 24.7171 24.7154 26.1484 22.0145 26.3412C19.3315 26.5339 16.6382 26.5361 13.9548 26.3478C11.1127 26.1463 9.69561 24.4757 9.53344 21.5585C9.46557 20.339 9.52203 19.1128 9.52203 17.8896M24.8442 18.2428C24.8442 16.8314 24.9181 15.4154 24.825 14.0085C24.7124 12.3 23.7163 11.2069 22.055 11.1442C19.3456 11.0415 16.6264 11.0415 13.9167 11.1442C12.2506 11.2069 11.195 12.3208 11.1425 13.9971C11.0596 16.627 11.0586 19.2588 11.1395 21.8927C11.1896 23.5537 12.0972 24.6664 13.7098 24.7522C16.5524 24.9037 19.401 24.9037 22.2436 24.7522C23.8652 24.6651 24.7148 23.5489 24.8442 21.9053" fill="var(--svg-color)"/>
                  <path d="M23.5337 13.3568C23.5561 13.9258 23.113 14.4051 22.5441 14.4275C22.5122 14.4287 22.4803 14.4285 22.4484 14.4268C21.9421 14.4246 21.5334 14.0123 21.5357 13.5059C21.5358 13.4655 21.5387 13.4251 21.5442 13.385C21.5301 12.885 21.9241 12.4683 22.4241 12.4542C22.4713 12.4529 22.5185 12.4553 22.5652 12.4613C23.0743 12.4359 23.5075 12.8279 23.5329 13.337C23.5333 13.3436 23.5335 13.3502 23.5337 13.3568Z" fill="var(--svg-color)"/>
                  <path d="M13.601 17.9575C13.6169 15.5427 15.5873 13.5979 18.0022 13.6137C20.417 13.6296 22.3618 15.6 22.346 18.0149C22.3301 20.4297 20.3597 22.3745 17.9448 22.3587C15.53 22.3428 13.5852 20.3724 13.601 17.9575ZM20.7865 17.9909C20.778 16.4375 19.5118 15.1851 17.9584 15.1937C16.4498 15.2019 15.2163 16.399 15.1629 17.9068C15.108 19.4592 16.3219 20.7622 17.8744 20.8172C19.4268 20.8721 20.7298 19.6582 20.7848 18.1058C20.7861 18.0675 20.7867 18.0292 20.7865 17.9909Z" fill="var(--svg-color)"/>
                </g>
                <g opacity="0.9">
                  <path d="M18 35.5C27.665 35.5 35.5 27.665 35.5 18C35.5 8.33502 27.665 0.5 18 0.5C8.33502 0.5 0.5 8.33502 0.5 18C0.5 27.665 8.33502 35.5 18 35.5Z" stroke="var(--svg-color)" stroke-miterlimit="10"/>
                </g>
              </g>
              <defs>
                <clipPath id="clip0_1_9">
                  <rect width="36" height="36" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          </a>
        </div>
        <a href="/recruit" class="recruit-button">recruit</a>
      </div>
      <div class="privacy-policy"><a href="/privacy">privacy policy</a></div>
    </div>
  </div>
</header>

<style>
  header {
    padding: 3.75rem;
    position: fixed;
    z-index: 100;
    top: 0;
    width: calc(100% - 7.5rem);
  }
  nav {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .ul-start,
  .ul-end {
    display: flex;
    list-style: none;
    align-items: center;
  }
  .ul-start {
    gap: 3rem;
  }
  .ul-end {
    gap: 1.5rem;
  }
  a {
    text-decoration: none;
    color: var(--link-color);
    font-size: 1.125rem;
  }
  a.active {
    border-bottom: 0.125rem solid var(--link-underline-color);
  }
  .recruit {
    border: 0.0625rem solid var(--link-color);
    border-radius: 2rem;
    padding: 0.5rem 3.125rem;
  }
  .sp-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #8B7E74, #1C1B1B);
    color: white;
    box-sizing: border-box;
    padding: 1.25rem;
  }
  .sp-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .close-icon {
    font-size: 30px;
    cursor: pointer;
  }
  .sp-menu-items {
    list-style: none;
    padding: 0;
  }
  .sp-menu-items li {
    margin-bottom: 20px;
  }
  .sp-menu-items a {
    color: white;
    font-size: 1.125rem;
    text-decoration: none;
  }
  .sp-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  .menu-icon {
    display: none;
  }
  .sp-menu-items li {
    margin-bottom: 20px;
  }
  .sp-menu-items a {
    color: white;
    font-size: 18px;
    text-decoration: none;
  }
  .sp-menu-footer {
    position: absolute;
    bottom: 1.25rem;
    left: 1.25rem;
    right: 1.25rem;
  }
  .location {
    font-size: 0.75rem;
  }
  .sp-menu-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .recruit-button {
    display: inline-block;
    padding: 0.5rem 2.375rem;
    border: 1px solid white;
    border-radius: 2rem;
    color: white;
    text-decoration: none;
  }
  .privacy-policy a {
    color: white;
    text-decoration: none;
    font-size: 0.5625rem;
  }

  @media (max-width: 1100px) {
    header {
      width: calc(100% - 2.5rem);
      padding: 1.25rem;
    }
    .menu {
      display: none;
    }
    .menu-icon {
      display: block;
      margin-left: auto;
    }
  }
</style>

<script>
  const menuToggle = document.getElementById('menuToggle');
  const closeMenu = document.getElementById('closeMenu');
  const spMenu = document.getElementById('spMenu');

  menuToggle.addEventListener('click', () => {
    spMenu.style.display = 'block';
  });

  closeMenu.addEventListener('click', () => {
    spMenu.style.display = 'none';
  });
</script>
