<header>
  <nav>
    <ul>
      <li>
        <a href="/"><img src="/loadoff.svg" alt=""></a>
      </li>
      <li>
        <a href="/about">about</a>
      </li>
      <li>
        <a href="/service">service</a>
      </li>
      <li>
        <a href="/contact">contact</a>
      </li>
      <li>
        <a href="https://x.com/LoadoffI" target="_blank" rel="noopener noreferrer"><img src="/x.svg" alt=""></a>
      </li>
      <li>
        <a href="https://www.instagram.com/loadoffinc?igsh=MXVpeGpoZ2tuNjhrNA==" target="_blank" rel="noopener noreferrer"><img src="/instagram.svg" alt=""></a>
      </li>
      <li>
        <a href="/recruit">recruit</a>
      </li>
    </ul>
  </nav>
</header>


<style>
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
</style>