---
import BoxTitle from "./BoxTitle.astro";
import CurrentTime from "./CurrentTime";
import Location from "./Location.astro";
import SunshineGraph from "./SunshineGraph";
import TemperatureMeter from "./TemperatureMeter.astro";
import WeatherMark from "./WeatherMark.astro";

const { weatherInfo } = Astro.props;
---

<section class="weather-info">
  <div class="current-time">
    <CurrentTime client:only="react"/>
  </div>
  <div class="location">
    <Location />
  </div>
  <div class="box-title">
    <BoxTitle />
  </div>
  <div class="temperature-meter">
    <TemperatureMeter weatherInfo={weatherInfo}/>
  </div>
  <div class="weather-mark">
    <WeatherMark weatherInfo={weatherInfo}/>
  </div>
  <div class="sunshine-graph">
    <SunshineGraph weatherInfo={weatherInfo} client:only="react"/>
  </div>
</section>

<style>
  .weather-info {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 100%;
    /* grid-column-gap: 0px; */
    /* grid-row-gap: 0px; */
  }
  .current-time {
    grid-area: 2 / 1 / 4 / 3;
  }
  .location {
    grid-area: 4 / 1 / 6 / 3;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .box-title {
    grid-area: 4 / 5 / 6 / 7;
    padding-right: 3.5rem;
  }
  .temperature-meter {
    grid-area: 6 / 1 / 8 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .weather-mark {
    grid-area: 6 / 2 / 8 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sunshine-graph {grid-area: 8 / 1 / 10 / 4;}
</style>
