---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="テストページ">
  <main>
    <h1>テストページ</h1>
    <ul>
      <li>
        <a href="/test/sunny01">晴れの日01-Box</a>
      </li>
      <li>
        <a href="/test/sunny04">晴れの日01-RoundedBox</a>
      </li>
      <li>
        <a href="/test/sunny02">晴れの日02-Box</a>
      </li>
      <li>
        <a href="/test/sunny05">晴れの日02-RoundedBox</a>
      </li>
      <li>
        <a href="/test/sunny03">晴れの日03-Box</a>
      </li>
      <li>
        <a href="/test/sunny06">晴れの日03-RoundedBox</a>
      </li>
      <li>
        <a href="/test/rainy01">雨の日01-Box</a>
      </li>
      <li>
        <a href="/test/rainy03">雨の日01-RoundedBox</a>
      </li>
      <li>
        <a href="/test/rainy02">雨の日02-Box</a>
      </li>
      <li>
        <a href="/test/rainy04">雨の日02-RoundedBox</a>
      </li>
      <li>
        <a href="/test/cloudy01">曇りの日01-Box</a>
      </li>
      <li>
        <a href="/test/cloudy02">曇りの日-RoundedBox</a>
      </li>
    </ul>
  </main>
</Layout>